[
    {betting_node, [
        {http_port, 8080},
        {jwt_secret, <<"your_secret_key_here">>},
        {initial_balance, 100.0},
        {commission_percentage, 0.5},
        {margin, 50},
        {virtual_init_bet, 100},
        {bookmaker_money, 10000}
    ]},
    {mnesia, [
        {dir, "mnesia_data"}
    ]}
].
